.App {
  text-align: center;
}

.login-container {
  margin-top: 2rem;
}

.login-container form {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container select,
.login-container button {
  padding: 0.5rem;
  font-size: 1rem;
}
